:root {
  --text-main-color: #757575;
  --text-secondary-color: #212121;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --accent-color: #2196F3;
  --bg-primary-color: #2F303A;
  --bg-secondary-color: #F5F5F5;
  --bg-tertiary-color: #F5F4FA;
}

/* site */
body {
  background-color: var(--white-color);
  color: var(--text-main-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* logo */

.logo-nav {
  color: var(--black-color);
}

.logo-nav span {
  color: var(--accent-color);
}

/* site-nav */
.site-nav a {
  color: var(--text-secondary-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* contact-nav */
.contact-nav a {
  color: var(--text-main-color);
}

.contact-nav a:hover,
.contact-nav a:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--bg-primary-color);
}

.hero-title {
  color: #FFFFFF;
}

.button {
  color: var(--text-main-color);
  background-color: var(--white-color);
}

.button.primary:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* section */
.section-title {
  color: var(--text-secondary-color);
}

/* features */
.feature-list .title {
  color: var(--text-secondary-color);
}

/* works */
.work-list {}

/* staffs */
.staff-list .name {
  color: var(--text-secondary-color);
}

/* footer */
footer {
  background-color: var(--bg-primary-color);
}

.logo-footer {
  color: var(--white-color);
}

.logo-footer span {
  color: var(--accent-color);
}

.contact-footer {
  color: var(--white-color);
}

.contact-footer-link {
  color: rgba(255, 255, 255, 0.6);
}